* {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: Yanone;
	src: url(/fonts/YanoneKaffeesatz-Thin.otf) format("opentype");
}

@font-face {
	font-family: Museo;
	src: url(/fonts/Museo300-Regular.otf) format("opentype");
}

body {
	text-align: center;
	font-weight: bold;
	background-color: #c0c0c0;
	font-family:"Museo",Verdana, Arial, Helvetica, sans-serif;
}

#content {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	background-color: #c0c0c0;
}

#spacer {
	background-color: #c0c0c0;
	height: 20px;
}

#header {
	background-color: #222222;
	height: 120px;
	border: 2px solid #ffffff;
}

#logo {
	position: relative;
	float: left;
	font-size: 60px;
	height: 120px;
	line-height: 120px;
	width: 250px;
	left: 10px;
	color: #ffffff;
}

#login_logout {
	position: relative;
	float: right;
	color: white;
	font-size: 20px;
	right: 10px;
	height: 120px;
	line-height: 120px;	
}

#login_logout a {
	color: #ffffff;
}

#info {
	color: #ffffff;
	position: relative;
	float: right;
	clear: left;
	height: 20px;
	width: 20px;
	line-height: 18px;	
	font-size: 15px;
	top: -115px;
	right: 7px;
	text-align: center;
	font-weight: bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #666666;
}