* {
margin: 0;
padding: 0;
}

body {
	text-align: center;
	background-color: #ffffff;
	font-family: "Helvetica", "Arial",  sans-serif;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	background-color: #ffffff;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 17px;
	font-weight: bold;
	line-height: 17px;
}

h3 {
	font-size: 14px;
	font-style: italic;
}

#link img {
	position: relative;	
	top: 4px;
	line-height: 20px;
	height: 20px;
	width: 20px;
	margin-top: 5px;
}

#header {
	display: block;
	height: 120px;
}

#box_front {
	position: relative;
	top: -100px;
	left: 15px;
	display: block;
	width: 110px;
	height: 110px;
	border: 1px solid #000000;
	z-index: 10;
	background-color: #ffffff;
}

#box_front span {
	position: relative;
	font-weight: bold;
	font-size: 18px;
	top: 88px;
	display: block;
	text-align: right;
	padding-right: 3px;
}

#box_back {
	position: relative;
	top: 17px;
	left: 20px;
	display: block;
	width: 110px;
	height: 110px;
	border: 1px solid #000000;
	background-color: #000000;
	z-index: 1;
}

#message_board {
	position: relative;
	display: block;
	width: 925px;
	top: 10px;
	left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 35px;
	line-height: 35px;
	border-top: 1px dotted #000000;
	border-bottom: 1px dotted #000000;
}

#login_logout {
	position: relative;
	display: block;
	float: right;
	clear: left;
	top: 12px;
	right: 20px;
	text-align: right;
	color: #333333;
	font-size: 14px;

}

#bookmarklet {
	position: relative;
	float: right;
	display: block;
	top: -18px;
	left: -20px;
	height: 20px;
	width: 220px;
	font-size: 12px;
	line-height: 20px;

}

#bookmarklet a {
	float: right;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	display: block;
	background-color: #cccccc;
	font-size: 11px;
	width: 75px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.item {
	width: 930px;
	margin-left: 12px;
	margin-bottom: 15px;
	min-height: 120px;
	background-color: #ffffff;
	border-bottom: 1px solid #000000;
}

.item_left {
	float: left;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 800px;
	height: 110px;
}

#notes {
	display: block;
	margin-top: 8px;
	height: 60px;
	width: 800px;
	font-size: 13px;
	font-style: italic;
	color: #666666;
	border: none;
}

#notes form input {
	display: block;
	font-size: 12px;
	color: #666666;
	font-style: italic;
	width: 800px;
	border: 1px dotted #333333;
	height: 30px;
}

#notes form a {
	text-decoration: none;
	font-style: normal;
	color: #333333;
	margin-top: 5px;
	background-color: #cccccc;
	display: block;
	width: 50px;
	height: 17px;
	padding-top: 0px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#notes .editor_ok_button {
	display: none;
}


.item_right {
	float: right;	
	text-align: center;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	width: 100px;
	height: 90px;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.days_top {
	position: relative;
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
}

.days_middle {
	position: relative;
	display: block;
	font-weight: bold;
	top: -18px;
	height: 40px;
	line-height: 40px;
	font-size: 35px;
}

.days_middle_red {
	position: relative;
	color: #ff0000;
	display: block;
	font-weight: bold;
	top: -18px;
	height: 40px;
	line-height: 40px;
	font-size: 35px;
}

.days_bottom {
	position: relative;
	display: block;
	height: 25px;
	top: -37px;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
}

.delete {
	position: relative;
	display: block;
	right: -92px;
	top: -132px;
	width: 18px;
	height: 18px;
}
