* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: Museo;
	src: url(/fonts/Museo300-Regular.otf) format("opentype");
}

body {
	text-align: center;
	font-weight: bold;
	background-color: #c0c0c0;
	font-family: Helvetica, Arial, sans-serif;
}

#content {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	background-color: #c0c0c0;
}


#header {
	background-color: #222222;
	height: 120px;
	width: 100%;
	border-bottom: 2px solid #ffffff;
	font-family: "Museo", Helvetica, Arial, sans-serif;
}

#logo {
	position: relative;
	float: left;
	font-size: 60px;
	height: 120px;
	line-height: 120px;
	width: 250px;
	left: 30px;
	color: #ffffff;
}

#login_logout {
	position: relative;
	float: right;
	color: white;
	font-size: 20px;
	right: 30px;
	height: 120px;
	line-height: 120px;	
}

#login_logout a {
	color: #ffffff;
}

#message_board {
	position: relative;
	width: 100%;
	height: 35px;
	top: 10px;
	font-style: italic;
	font-weight: 100;
	background-color: #999999;
}

#message {
	position: relative;
	left: 30px;
	line-height: 35px;
}

#spinner {
	position: relative;
	float: right;
	right: 30px;
	top: 8px;
	line-height: 35px;
}

#firefox_fix {
	position: relative;
	float: right;
	right: 3px;
	width: 35px;
	height: 35px;
	background-color: #999999;
	
}

#bookmarklet {
	position: relative;
	font-weight: 100;
	color: #eeeeee;
	width: 247px;
	height: 14px;
	font-size: 14px;
	float: right;
	top: -40px;
	right: 30px;
}

#bookmarklet a {
	position: relative;
	top: 1px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	line-height: 14px;
	float: right;
	clear: left;
	text-decoration: none;
	background-color: #999999;
	display: block;
	width: 80px;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}