<h1>Listing items</h1>

<p id="bookmarklet">
  <a href="javascript:var d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='http://<%= request.host_with_port %>/items/new',l=d.location,e=encodeURIComponent,p='?v=1&u='+e(l.href)%20+'&t='+e(d.title.replace(/^\s*|\s*$/g,''))%20+'&s='+e(s),u=f+p;try{if(!/^(.*\.)?instapaper([^.]*)?$/.test(l.host))throw(0);
iptstbt();}catch(z){a =function(){if(!w.open(u,'t','toolbar=0,resizable=no,status=0,scrollbars=no,
width=400,height=250'))l.href=u;};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);
else a();w.close();}void(0)">
    Save for later
  </a>
</p>



<div id="all_items">
	
	<%= render :partial => 'item', :collection => @items %>

</div>


