	<div id="message_board">
	<span id="message">
	<% if logged_in? %>
		Your list contains <span id="total_items"><%=pluralize(total_items,"item")%></span>
		(of which, <span id="old_items"><%=pluralize(old_items,"item")%></span> more than 30 days old)	
	<% else %>
		Please log in.
	<% end %>
	</span>
	<span id="spinner"><%=image_tag 'ajax-loader.gif', :size => '18x18' %></span>
	<span id="firefox_fix"></span>
	
	</div>

<div id="all_items">
	
	<%= render :partial => 'item', :collection => @items %>

</div>