<div id="item_added">
</p>
  <b>Name:</b>
  <%= in_place_editor_field :item, :name %>
</p>

<p>
  <b>Notes:</b>
  <%= in_place_editor_field :item, :notes %>
</p>

<p>
  <b>Url:</b>
  <%=h @item.url %>
</p>

</div>

<%= link_to 'See all items', items_path, :popup => 'true' %>

<a href="javascript:window.close();">Close this window</a>