<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Items: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>


	<div id="login_bar">
	
	
	
		<span id="box_back_signup"></span>
		<span id="box_front_signup">
		
			<span id="login_logout_large"><%= yield %></span>
			
			<span id="logo_large">30days.</span>
			
		
		</span>
		
		<span id="greybar"></span>
	</div>


</body>
</html>